@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h2>Welcome curso de net core</h2>

    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <form>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="Doe"><br><br>
        <p>(*)Registrate</p>
        <input type="submit" value="Submit">
    </form>

</div>
